<h2>Generate images</h2>

<% if params[:success] %>
  <div class="alert alert-success" role="alert">
    Image generate successfully queued, please wait
  </div>
<% end %>

<% if(File.exist?('results/results.zip')) %>
  <div class="alert alert-success" role="alert">
    Download last results <a href='/download'>here</a>
  </div>
<% elsif(Dir["results/images/*"].count > 0) %>
  <div class="alert alert-success" role="alert">
    Processed <%= Dir["results/images/*"].count %> count
  </div>
<% end %>

<% if @categories.length > 0 %>
  <form action="/generate_image" method="post" onSubmit="document.getElementById('submit').disabled=true;">
    <div class="row py-2">
      <h5>Select count:</h5>
      <input name="count" type="text" class="form-control" value="<%= input_value('count') %>">
    </div>
    <div class="overflow-auto">


      <% @categories.each do |category| %>
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#<%= "#{category.key}-category" %>" aria-expanded="false"><%= category.name %></button>
            </h5>
          </div>
        </div>
        <% category.parts.each do |part| %>
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse" id="<%= "#{category.key}-category" %>">
                <div class="card card-body">
                  <div class="form-group row">
                    <label for="<%= "parts[#{category.key}][#{part.name}][value]" %>" class="col-sm-2 col-form-label"><%= part.name %></label>
                    <div class="col-sm-4">
                      <input name="<%= "parts[#{category.key}][#{part.name}][value]" %>" value="<%= input_value('parts', category.key, part.name, 'value') %>" type="text" class="form-control" placeholder="Count">
                    </div>
                    <div class="col-sm-4">
                      <select name="<%= "parts[#{category.key}][#{part.name}][exclude][]" %>" class="form-select" multiple aria-label="multiple select example">
                        <option value="" <%= 'selected' if input_value('parts', category.key, part.name, 'exclude').include?('') %>>None</option>
                        <% Part.all.each do |exclude_part| %>
                          <option value="<%= exclude_part.name %>" <%= 'selected' if input_value('parts', category.key, part.name, 'exclude')&.include?(exclude_part.name) %>><%= exclude_part.name %></option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if BatchGenerator.in_progress? %>
        In progress...
      <% else %>
        <input class="btn btn-dark" type="submit" value="Generate" id="submit">
      <% end %>
    </div>
  </form>
<% else %>
  <div class="alert alert-danger" role="alert">
    Please <a href="/upload_parts">Upload parts first.</a>
  </div>
<% end %>
