<h2>Generate image</h2>

<div class="overflow-auto">
  <form action="/generate_image" method="post">
    <% @categories.each do |category| %>
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#<%= "#{category.name}-category" %>" aria-expanded="false"><%= category.name %></button>
          </h5>
        </div>
      </div>
      <% category.parts.each do |part| %>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="<%= "#{category.name}-category" %>">
              <div class="card card-body">
                <div class="form-group row">
                  <label for="<%= "#{category.key}[#{part.name}]" %>" class="col-sm-2 col-form-label"><%= part.name %></label>
                  <div class="col-sm-4">
                    <input name="<%= "#{category.key}[#{part.name}]" %>" type="text" class="form-control" placeholder="Count">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <input class="btn btn-dark" type="submit" value="Generate">
  </form>
</div>
